{
   "presets": [
      [
         "@nrwl/react/babel",
         {
            "runtime": "automatic",
            "useBuiltIns": "usage"
         }
      ]
   ],
   "plugins": ["inline-react-svg"]
}
